<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gopi.securevault">

    <!-- NO INTERNET permission: offline app -->
    <application
        android:name=".SecureApp"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="SecureVault"
        android:supportsRtl="true"
        android:theme="@style/Theme.SecureVault">

        <activity android:name=".ui.settings.SettingsActivity" />
        <activity android:name=".ui.aadhar.AadharActivity" />
        <activity android:name=".ui.policies.PoliciesActivity" />
        <activity android:name=".ui.cards.CardsActivity" />
        <activity android:name=".ui.banks.BanksActivity" />
        <activity android:name=".ui.home.HomeActivity" />
        <activity android:name=".ui.auth.SetupActivity" />
        <activity android:name=".ui.auth.PasswordResetActivity" />


        <!-- Launcher activity MUST be exported -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
